<%- include('../template/_head', { page: jsonData['blog'] }); %>
  <%- include('../template/_header' ); %>
    <main class="main-contents">
      <article class="blogPage">
        <div class="blogPage_inner">
          <header class="section_heading">
            <h1 class="section_title"><img src="/img/title/blog.svg" width="257" height="101" alt="BLOG"></h1>
          </header><!-- /.section_headding -->
          <article class="blogCards blogPage-cards">
            <article class="blogCards_item">
              <a class="blogCard" href="/blog/single/">
                <figure class="blogCard_img">
                  <img src="/img/blog/blog-img01.jpg" width="330" height="186" alt="">
                </figure>
                <div class="blogCard_body">
                  <p class="blogCard_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="blogCard_text">来週月曜日開催の珈琲とpiano。 お陰様で満席となりました。‥</p>
                </div>
              </a>
            </article>
            <article class="blogCards_item">
              <a class="blogCard" href="/blog/single/">
                <figure class="blogCard_img">
                  <img src="/img/blog/blog-img02.jpg" width="330" height="186" alt="">
                </figure>
                <div class="blogCard_body">
                  <p class="blogCard_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="blogCard_text">この夏に十周年を迎えようとしています。 さて、どうしまし‥</p>
                </div>
              </a>
            </article>
            <article class="blogCards_item">
              <a class="blogCard" href="/blog/single/">
                <figure class="blogCard_img">
                  <img src="/img/blog/blog-img03.jpg" width="330" height="186" alt="">
                </figure>
                <div class="blogCard_body">
                  <p class="blogCard_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="blogCard_text">2021.4.18に当サロンで行われた 『白石准作品集　大山大輔さん、楠‥</p>
                </div>
              </a>
            </article>
            <article class="blogCards_item">
              <a class="blogCard" href="/blog/single/">
                <figure class="blogCard_img">
                  <img src="/img/blog/blog-img01.jpg" width="330" height="186" alt="">
                </figure>
                <div class="blogCard_body">
                  <p class="blogCard_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="blogCard_text">来週月曜日開催の珈琲とpiano。 お陰様で満席となりました。‥</p>
                </div>
              </a>
            </article>
            <article class="blogCards_item">
              <a class="blogCard" href="/blog/single/">
                <figure class="blogCard_img">
                  <img src="/img/blog/blog-img02.jpg" width="330" height="186" alt="">
                </figure>
                <div class="blogCard_body">
                  <p class="blogCard_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="blogCard_text">この夏に十周年を迎えようとしています。 さて、どうしまし‥</p>
                </div>
              </a>
            </article>
            <article class="blogCards_item">
              <a class="blogCard" href="/blog/single/">
                <figure class="blogCard_img">
                  <img src="/img/blog/blog-img03.jpg" width="330" height="186" alt="">
                </figure>
                <div class="blogCard_body">
                  <p class="blogCard_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="blogCard_text">2021.4.18に当サロンで行われた 『白石准作品集　大山大輔さん、楠‥</p>
                </div>
              </a>
            </article>
            <article class="blogCards_item">
              <a class="blogCard" href="/blog/single/">
                <figure class="blogCard_img">
                  <img src="/img/blog/blog-img01.jpg" width="330" height="186" alt="">
                </figure>
                <div class="blogCard_body">
                  <p class="blogCard_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="blogCard_text">来週月曜日開催の珈琲とpiano。 お陰様で満席となりました。‥</p>
                </div>
              </a>
            </article>
            <article class="blogCards_item">
              <a class="blogCard" href="/blog/single/">
                <figure class="blogCard_img">
                  <img src="/img/blog/blog-img02.jpg" width="330" height="186" alt="">
                </figure>
                <div class="blogCard_body">
                  <p class="blogCard_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="blogCard_text">この夏に十周年を迎えようとしています。 さて、どうしまし‥</p>
                </div>
              </a>
            </article>
            <article class="blogCards_item">
              <a class="blogCard" href="/blog/single/">
                <figure class="blogCard_img">
                  <img src="/img/blog/blog-img03.jpg" width="330" height="186" alt="">
                </figure>
                <div class="blogCard_body">
                  <p class="blogCard_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="blogCard_text">2021.4.18に当サロンで行われた 『白石准作品集　大山大輔さん、楠‥</p>
                </div>
              </a>
            </article>
          </article><!-- /.blogCards -->
          <%- include( '../template/_pager' ) %>
        </div><!-- /.section_inner -->
      </article><!-- /.blogPage -->
      <%- include('../template/_contactBox' ); %>
    </main><!-- /.main-contents -->
    <%- include( '../template/_footer' ) %>