<%- include('../template/_head', { page: jsonData['live'] }); %>
  <%- include('../template/_header' ); %>
    <main class="main-contents">
      <article class="livePage">
        <div class="livePage_inner">
          <header class="section_heading">
            <h1 class="section_title"><img src="/img/title/live.svg" width="257" height="101" alt="コンサート情報"></h1>
          </header><!-- /.section_headding -->
          <article class="liveMedia livePage-media">
            <article class="liveMedia_item">
              <a class="liveMedia_wrap" href="/live/single/">
                <figure class="liveMedia_img">
                  <img src="/img/live/live-img01.jpg" width="260" height="146" alt="">
                </figure>
                <div class="liveMedia_body">
                  <p class="liveMedia_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="liveMedia_text">NEWSのテキストが入りますNEWSのテキストが入ります</p>
                </div>
              </a>
            </article><!-- /.liveMedia_item -->
            <article class="liveMedia_item">
              <a class="liveMedia_wrap" href="/live/single/">
                <figure class="liveMedia_img">
                  <img src="/img/live/live-img02.jpg" width="260" height="146" alt="">
                </figure>
                <div class="liveMedia_body">
                  <p class="liveMedia_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="liveMedia_text">NEWSのテキストが入りますNEWSのテキストが入ります</p>
                </div>
              </a>
            </article><!-- /.liveMedia_item -->
            <article class="liveMedia_item">
              <a class="liveMedia_wrap" href="">
                <figure class="liveMedia_img">
                  <img src="/img/live/live-img03.jpg" width="260" height="146" alt="">
                </figure>
                <div class="liveMedia_body">
                  <p class="liveMedia_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="liveMedia_text">NEWSのテキストが入りますNEWSのテキストが入ります</p>
                </div>
              </a>
            </article><!-- /.liveMedia_item -->
            <article class="liveMedia_item">
              <a class="liveMedia_wrap" href="">
                <figure class="liveMedia_img">
                  <img src="/img/live/live-img01.jpg" width="260" height="146" alt="">
                </figure>
                <div class="liveMedia_body">
                  <p class="liveMedia_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="liveMedia_text">NEWSのテキストが入りますNEWSのテキストが入ります</p>
                </div>
              </a>
            </article><!-- /.liveMedia_item -->
            <article class="liveMedia_item">
              <a class="liveMedia_wrap" href="">
                <figure class="liveMedia_img">
                  <img src="/img/live/live-img02.jpg" width="260" height="146" alt="">
                </figure>
                <div class="liveMedia_body">
                  <p class="liveMedia_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="liveMedia_text">NEWSのテキストが入りますNEWSのテキストが入ります</p>
                </div>
              </a>
            </article><!-- /.liveMedia_item -->
            <article class="liveMedia_item">
              <a class="liveMedia_wrap" href="">
                <figure class="liveMedia_img">
                  <img src="/img/live/live-img03.jpg" width="260" height="146" alt="">
                </figure>
                <div class="liveMedia_body">
                  <p class="liveMedia_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="liveMedia_text">NEWSのテキストが入りますNEWSのテキストが入ります</p>
                </div>
              </a>
            </article><!-- /.liveMedia_item -->
            <article class="liveMedia_item">
              <a class="liveMedia_wrap" href="">
                <figure class="liveMedia_img">
                  <img src="/img/live/live-img01.jpg" width="260" height="146" alt="">
                </figure>
                <div class="liveMedia_body">
                  <p class="liveMedia_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="liveMedia_text">NEWSのテキストが入りますNEWSのテキストが入ります</p>
                </div>
              </a>
            </article><!-- /.liveMedia_item -->
            <article class="liveMedia_item">
              <a class="liveMedia_wrap" href="">
                <figure class="liveMedia_img">
                  <img src="/img/live/live-img02.jpg" width="260" height="146" alt="">
                </figure>
                <div class="liveMedia_body">
                  <p class="liveMedia_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="liveMedia_text">NEWSのテキストが入りますNEWSのテキストが入ります</p>
                </div>
              </a>
            </article><!-- /.liveMedia_item -->
            <article class="liveMedia_item">
              <a class="liveMedia_wrap" href="">
                <figure class="liveMedia_img">
                  <img src="/img/live/live-img03.jpg" width="260" height="146" alt="">
                </figure>
                <div class="liveMedia_body">
                  <p class="liveMedia_date"><time datetime="">MMMM.YY.DD</time></p>
                  <p class="liveMedia_text">NEWSのテキストが入りますNEWSのテキストが入ります</p>
                </div>
              </a>
            </article><!-- /.liveMedia_item -->
          </article><!-- /.liveMedia -->
          <%- include( '../template/_pager' ) %>
        </div><!-- /.section_inner -->
      </article><!-- /.top-live -->
      <%- include('../template/_contactBox' ); %>
    </main><!-- /.main-contents -->
  <%- include( '../template/_footer' ) %>